PORT=3000
NODE_ENV=development

DB_HOST=host.docker.internal
DB_PORT=5432
DB_NAME=reservas_db16
DB_USER=postgres
DB_PASSWORD=251004
DB_SSL=false

# En Render puedes usar DATABASE_URL en vez de las variables DB_*.
# DATABASE_URL=postgresql://usuario:password@host:5432/base_de_datos

JWT_SECRET=cambia_este_secreto_en_render
JWT_EXPIRES_IN=2h
FRONTEND_URL=http://localhost:4200
